button{
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    color: #DAA520;
    font-family: Arial, Helvetica, sans-serif;
    right: 0px;
    width: 200px;
    border: 3px solid #DAA520;
    padding: 10px;
    position: relative;
    border-top-right-radius: 0%;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    background: url(https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
  }
  .box-1 { 
  background-color: #000000; 
  font-family:'Courier New', Courier, monospace;
  font-size: 20px;
  padding-left: 5%;
  display: flex;
  }
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}
.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
div[class*=box] {
  justify-content: center;
  align-items: center;
}
p{
  justify-content: center;
  display: flex;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 80px;
  align-items: center;
}
div1{
  background-color: #000000;
  position: absolute;
  width: 100%;
  padding-bottom: 50px;
  margin-top: 96%;
  margin-right: 5%;
}
p1{
  color: #DAA520;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 17px;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 0%;
}
body{
  font-family: 'Lato', sans-serif;
}
.wrapper{
  position: fixed;
  top: 60%;
  left: 40%;
  align-items: center;
  justify-content: center;
}
.link_wrapper{
  position: relative;
}
a{
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  text-decoration: none;
  background: #33333300;
  text-align: center;
  color:#000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 3px solid #000000;
  transition: all .35s;
}
.icon{
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}
.icon svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #000000;
  transition: all .35s;
}
a:hover{
  width: 200px;
  border: 3px solid #000000;
  background: transparent;
  color:#DAA520
}
a:hover + .icon{
  border: 3px solid #000000;
  right: -25%;
}
div2{
  background-color: #00000000;
  position: absolute;
  width: 700px;
  height: 350px;
  padding-bottom: 50px;
  margin-top: 45%;
  margin-right: 50%;
  align-items: center;
  justify-content: center;
}
div3{
  background-color: #000000c0;
  position: absolute;
  width: 700px;
  height: 370px;
  padding-bottom: 50px;
  margin-top: 45%;
  margin-left: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #FFF;
  font-size: 10px;
  text-align: center;
}
div4{
  background-color: #000000;
  color: #f1af09;
  font-size: 19px;
}
h1{
  color: #f1af09;
  font-size: 25px;
}
h2{
  font-size: 18px;
}
div5{
  
  position: absolute;
  width: 700px;
  height: 400px;
  padding-bottom: 50px;
  margin-top: 45%;
  margin-right: 50%;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #FFF;
  font-size: 10px;
  text-align: center;
}
body{
  text-align: center;
}

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0; }
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}
.slide-controller:nth-child(4):checked ~ .slide-show .slides-list{--selected-item: 3;}
.slide-controller:nth-child(5):checked ~ .slide-show .slides-list{--selected-item: 4;}
.slide-controller:nth-child(6):checked ~ .slide-show .slides-list{--selected-item: 5;}

.slide-show{
  overflow: hidden;
  border-radius: 40px;

}

.slides-list{
  --selected-item: 0;
  --total-items: 4;
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
  left: calc(var(--selected-item) * -100%);
  width: calc(var(--total-items) * 100%);
  transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.slide-controller{
  cursor: pointer;
}
